<h2>Записаться</h2>
<p>На этой странице можете записаться к нам на Barber Shop:</p>

<form accept-charset="/visit" name="POST">
  <div class="form-group">
    <label for="exampleInputEmail1">Ваше имя</label>
    <input name="username" type="text" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Введите ваше имя">
  </div>
  <button type="submit" class="btn btn-primary">Записаться</button>
</form>