<h2>Записаться</h2>
<p>На этой странице можете записаться к нам на Barber Shop:</p>

<form accept="/visit" name="POST">
  <div class="form-group">
    <label>Ваше имя</label>
    <input name="username" type="text" class="form-control"  aria-describedby="emailHelp" placeholder="Введите ваше имя">
  </div>
  <div class="form-group">
    <label>Ваш телефон</label>
    <input name="phone" type="text" class="form-control" aria-describedby="emailHelp" placeholder="Введите ваш телефон">
  </div>
  <div class="form-group">
    <label>Когда вас ждать?</label>
    <input name="datetime" type="text" class="form-control" aria-describedby="emailHelp" placeholder="Введите дату и время">
  </div>
  <div class="form-group">
    <label>Выбрать парикмахера:</label>
      <select class="form-control">
        <option>Walter White</option>
        <option>Jessie Pinkman</option>
        <option>Gus Fring</option>
      </select>
  </div>
  <button type="submit" class="btn btn-primary">Записаться</button>
</form>